* {
  margin: 0;
  padding: 0;
}
body {
  color: $color-text-primary;
  font-size: $font-size;
}

input{  
  background:none;  
  outline:none;  
  border: none;
}

@include textColor;
.text--center {
  text-align: center;
}
.text--right {
  text-align: right;
}

.float {
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
  &:after {
    content:"";				/*设置内容为空*/
    height:0;				/*高度为0*/
    line-height:0;			/*行高为0*/
    display:block;			/*将文本转为块级元素*/
    visibility:hidden;		/*将元素隐藏*/
    clear:both;				/*清除浮动*/
  }
}


// 自定义input
.input-inner {
  border: 1px solid $color-border;
  padding: $space-xs - 2 $space-primary;
  margin-bottom: $space-md;
  height: 48px;
  line-height: 48px;
  input {
    width: 100%;
  }
}
 