.login {
  padding: 40px;
  &-logo {
    width: 40%;
    margin: $space-md auto $space-primary;
    border-radius: 5px;
    img {
      width: 100%;
    }
  }
  &-form {
    .float--left {
      width: 60%;
    }
  }
  &-button {
    margin: $space-md auto;
    .van-button {
      height: 42px !important;
      line-height: 42px !important;
      border-radius: 4px;
    }
  }
  &-about {
    font-size: $font-size - 2;
  }
}

.user {
  &-header {
    padding: $space-lg;
    position: relative;
    background-color: $color-primary;
    * {
      color: #fff;
    }
    &__img {
      width: 10vh;
      height: 10vh;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &__title {
      width: 60%;
      margin-left: $space-lg;
      h3 {
        font-size: $font-size-auto * 2;
      }
      i {
        vertical-align: middle;
      }
    }
    &__arrow {
      position: absolute;
      right: $space-md;
      top: 50%;
      transform: translate(0, -50%);
      color: $color-info;
    }
  }
  &-money {
    img {
      width: 30px;
    }
    .flex-item {
      padding: $space-lg 0;
    }
    .flex-item:first-child{
      border-right: $border;
    }
  }
  &-list {
    img {
      width: 20px;
      margin-right: $space-primary;
      vertical-align: middle;
    }
  }
  .van-cell-group {
    margin-top: $space-primary;
  }
  .profile {
    color: $color-primary;
    padding-top: 20px;
  }
}

body {
  background: $background-color;
}
.money, section {cursor: pointer;}