// 默认背景浅灰色
body {
  background: $background-color;
}

// 底部导航条置于顶层
.nav {
  .van-tabbar {
    z-index: 100 !important;
  }
}

// 登录页面
.login {
  background-color: #fff;
  height: 100vh;
  box-sizing: border-box;
  padding: 40px;
  &-logo {
    width: 40%;
    margin: $space-md auto $space-primary;
    border-radius: 5px;
    img {
      width: 100%;
    }
  }
  &-form {
    .float--left {
      width: 60%;
    }
  }
  &-button {
    margin: $space-md auto;
    .van-button {
      height: 42px !important;
      line-height: 42px !important;
      border-radius: 4px;
    }
  }
  &-about {
    font-size: $font-size - 2;
  }
}

// “我的”
.user {
  &-header {
    padding: $space-lg;
    position: relative;
    background-color: $color-primary;
    * {
      color: #fff;
    }
    &__img {
      width: 10vh;
      height: 10vh;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    &__title {
      width: 60%;
      margin-left: $space-lg;
      h3 {
        font-size: $font-size-auto * 1.55;
        margin-bottom: $space-sm;
      }
      p {
        font-size: $font-md;;
        i {
          vertical-align: middle;
        }
      }
    }
    &__arrow {
      position: absolute;
      right: $space-md;
      top: 50%;
      transform: translate(0, -50%);
      color: $color-info;
    }
  }
  &-money {
    img {
      width: 30px;
    }
    .flex-item {
      padding: $space-lg 0;
    }
    .flex-item:first-child{
      border-right: $border;
    }
    .font-sm {
      font-size: $font-md;
      font-weight: bold;
    }
  }
  &-list {
    img {
      width: 22px;
      margin-right: $space-primary;
      vertical-align: middle;
    }
  }
  .van-cell-group {
    margin-top: $space-primary;
    .van-cell__title {
      font-size: 16px;
    }
    i {
      font-size: 13px;
      color: #bbb;
    }
  }
  .profile {
    color: $color-primary;
    padding-top: 20px;
  }
}
.money, section {cursor: pointer;}

// 一屏高，不可滚动
.unscrollable {
  height: 100vh;
  overflow: hidden;
}
// 首页
.home-index {
  // 首页
  &-header {
    background-image: $background-image;
    &__title {
      display: -webkit-flex;
      display: flex;
      align-items: center;
      padding: $space-md $space-md 0;
      color: #fff;
      h3 {
        max-width: 50%;
        margin-left: 3px;
        font-size: bold;
      }
    }
    &__search {
      padding: $space-primary;
      background-image: $background-image;
      div{
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: $color-text-gray;
        span {
          padding: $space-primary 5px;
          font-size: $font-rem;
        }
      }
    }
  }
  &-swipe {
    background-color: #fff;
    width: 100%;
    font-size: $font-sm;
    color: $color-info;
    .van-grid {
      border: none;
    }
    [class*=van-hairline]::after {
      border: none;
    }
    .van-swipe__indicators {
      position: relative;
      justify-content: center;
      bottom: auto;
      padding: $space-primary;
      .van-swipe__indicator {
        width: 10px;
        height: 2px;
        background-color: $color-info;
      }
      .van-swipe__indicator--active {
        background-color: $color-warning;
      }
      .van-swipe__indicator:not(:last-child) {
        margin-right: 4px;
      }
    }
    &-list {
      width: 100%;
      .van-hairline--top, .van-hairline--top-bottom {
        float: left;
        width: 20%;
      }
      &__item {
        box-sizing: border-box;
        padding: 0 $space-primary;
        flex-basis: auto !important;
        .van-grid-item__content {
          padding: 3px 5px;
        }
        img {
          padding-bottom: 5px;
          width: 100%;
        }
        p {
          color: #666;
        }
      }
    }
  }
  &-handle {
    background-color: #fff;
    padding: 0 $space-primary;
    &-content {
      background-image: linear-gradient(0deg, $background-color, #fafafa);
      padding: $space-primary;
      padding-left: $space-md;
      display: flex;
      justify-content: space-between;
      margin-bottom: 3px;
      &__desc {
        padding-top: $space-primary;
        p {
          font-size: 13px;
        }
        p:first-child {
          font-weight: bold;
          font-size: $font-lg;
          padding-bottom: 3px;
        }
        p:last-child {
          padding-top: 7px;
          font-size: $font-md;
          color: $color-warning;
          font-weight: bold;
          .van-icon-arrow {
            vertical-align: middle;
          }
        }
      }
      &__img {
        width: 40%;
        img {width: 100%;}
      }
    }
    &-wrap {
      border-radius: 2px;
      position: relative;
      padding: $space-primary;
      display: flex;
      align-items: center;
      background-image: -webkit-linear-gradient(left top, #ffefc4, $background-yellow);
      color: $color-dark-yellow;
      p {
        padding-left: 5px;
      }
      .bold {
        font-weight: 700;
        font-size: $font-rem;
      }
      span {
        padding-left: 5px;
      }
      .span-right {
        position: absolute;
        right: 5px;
        a {
          color: $color-dark-yellow;
        }
      }
    }
  }
  &-shop {
    background-color: #fff;
    margin-bottom: 50px;
    &-recommend {
      p {
        padding: $space-md 0;
        &::after, &::before {
          content: '';
          display: inline-block;
          width: $space-lg;
          border-top: 1px solid #000;
          margin-right: $space-md;
          position: relative;
          top: -4px;
        }
        &::after {
          padding-right: 0;
          margin-left: $space-md;
        }
      }
    }
    &-list {
      section {
        .img {
          width: 23%;
          padding-left: $space-primary;
          box-sizing: border-box;
          float: left;
          img {
            width: 100%;
            border: $border;
          }
        }
        padding: $space-lg 0;
        border-bottom: $border;
        &::after {
          content: '';
          display: block;
          clear: both;
        }
      }
      &__content {
        box-sizing: border-box;
        float: right;
        width: 77%;
        padding: 0 $space-primary;
        box-sizing: border-box;
        color: $color-info;
        p {
          font-size: $font-sm;
          margin-bottom: $space-primary;
        }
        .shop-title { // 商家名称
          display: flex;
          justify-content: space-between;
          align-items: center;
          p:first-child { // 商家标题
            font-size: $font-size;
            font-weight: bold;
            max-width: 80%;
            color: $color-text-primary;
          }
          // 弹出层-不喜欢
          .van-cell {
            padding: 0;
            width: auto;
          }
          .van-overlay {
            height: 30%;
            transform: translate(0, 100%);
            top: 25px;
          }
          .van-popup {
            font-size: $font-md;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
          }
        }
        .van-rate { // 评分
          margin-bottom: $space-primary;
        }
        .add {
          margin: 0 3px;
          border: 1px solid #ccc;
          padding: 1px 2px;
          border-radius: 1px;
        }
        .activites { // 活动
          border-top: $border-dashed;
          margin-top: $space-primary;
          p {
            margin: 5px 0;
            span {
              background-color: $color-error;
              color: #fff;
              padding: 2px;
              margin-right: 3px;
              border-radius: 2px;
            }
          }
        }
      }
    }
    &-nav {
      position: sticky;
      top: 57px;
      z-index: 10;
      padding: $space-lg 0;
      background-color: #fff;
      ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        line-height: 40px;
        font-size: 16px;
        li {
         display: flex;
         align-items: center;
         justify-content: center;
         .van-dropdown-menu {
           height: auto;
           .van-dropdown-menu__title {
             font-weight: bold;
            }
            .van-dropdown-item__option--active, .van-dropdown-item__option--active .van-dropdown-item__icon {
              color: $color-primary;
            }
         }
         a {
           color: $color-info;
           .van-icon-filter-o {
             top: 2px;
           }
         }
       }
      }
      &--active {
        font-weight: bold;
      }
    }
  }
  &-toTop {
    position: fixed;
    bottom: 100px;
    right: $space-lg;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: 50%;
    padding: $space-primary;
    box-sizing: border-box;
    border: $border;
    img {
      width: 100%;
    }
  }
  // 选择地址
  &-address {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $background-color;
    .van-nav-bar__text {
      color: #fff;
      font-size: $font-ml;
    }
    &-search {
      .city {
        width: 20%;
        box-sizing: border-box;
        align-items: center;
        justify-content: space-around;
        font-size: 13px;
        padding-left: $space-lg;
        .trangle {
          border: 3px solid transparent;
          border-top-color: $color-text-primary;
          top: 2px;
          margin-left: 12px;
        }
      }
      .van-search {
        width: 80%;
        .van-search__content--round {
          border-radius: 2px;
        }
        .van-search__content {
          background-color: $background-color;
          .van-cell {
            font-size: $font-size-auto * 0.9;
          }
        }
      }
    }
    .title {
      font-size: 13px;
      padding: 12px;
      border-top: $border;
      border-bottom: $border;
    }
    &-currAddr {
      &__content {
        font-size: $font-size-auto * 1.1;
        justify-content: space-between;
        padding: $space-primary + 2;
        p {
          font-weight: bold;
          width: 70%;
        }
        a {
          color: $color-primary;
          i {
            vertical-align: sub;
            margin-right: $space-xs;
            font-size: $font-lg;
          }
        }
      }
    }
    &-shAddr {
      .list {
        .list-item {
          padding: $space-primary * 1.2 $space-md;
          border-bottom: $border;
          p {
            font-size: $font-md;
            :not(:first-child) {
              margin-left: $space-xs;
            }
          }
          .name {
            font-size: $font-ml;
            font-weight: bold;
          }
        }
      }
    }
  }
  .van-nav-bar {
    background-image: $background-image;
    color: #fff;
    .van-nav-bar__left {
      left: $space-sm;
      .van-icon {
        color: #fff;
        font-size: 25px;
      }
    }
    .van-nav-bar__title {
      font-size: $font-lg;
      color: #fff;
    }
  }
  // 选择城市
  &-city {
    z-index: 20;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    &-header {
      .van-hairline--bottom::after {
        display: none;
      }
      .van-search {
        padding: $space-sm $space-lg + 5;
        background-image: $background-image !important;
        .van-search__content {
          background-color: #fff;
          .van-field__control {
            font-size: $font-size-auto * 0.9;
          }
        }
        .van-cell {
          padding: 3px $space-sm 3px 0
        }
      }
    }
    &-select {
      &__current {
        .title {
          background-color: $background-color;
          padding: $space-primary $space-md;
          border-bottom: $border;
          color: $color-info;
        }
        .content {
          padding: $space-md;
        }
      }
      &__index {
        .van-index-anchor {
          background-color: $background-color;
          border-bottom: $border;
          color: $color-info;
          padding: $space-xs - 2 $space-md;
          font-weight: 600;
        }
        .van-cell {
          border-bottom: $border;
          padding: $space-primary + 3 $space-md;
        }
        .van-index-bar__sidebar {
          top: 100vw;
          margin-right: $space-primary + 2;
          color: $color-text-gray;
          .van-index-bar__index {
            font-size: $font-md;
            margin-bottom: $space-xs;
            font-weight: 600;
          }
          [data-index*="I"], [data-index*="O"][data-index*="U"], [data-index*="V"] {
            display: none;
          }
        }
      }
    }
  }
}
.van-grid-item__content::after {border: none;}
// 从页面左侧移入的动画
.slide-fade-enter, .slide-fade-leave-to {
  transform: translate(100vw, 0);
}
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all .3s linear;
}
// 不显示元素
.display-none {
  display: none;
}
// 发现
.find {
  &-parts {
    border-top: $border;
    border-bottom: $border;
    .van-row .van-col--12 {
      border-left: $border;
    }
    .content {
      padding: $space-lg $space-md;
      p.font--md {
        color: $color-info;
        margin-top: $space-xs;
      }
    }
    .img {
      width: 12vw;
      margin-right: $space-md;
      img {
        width: 100%;
      }
    }
    &__shopcity {
      .img {
        width: 20vw;
        img {
          width: 100%;
        }
      }
    }
    &__right {
      flex-direction: column;
      justify-content: space-between;
      &--recommend {
        border-bottom: $border;
      }
      &--recommend, &--around {
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  &-activities {
    border-top: $border;
    border-bottom: $border;
    margin-top: $space-primary;
    flex-direction: column;
    align-items: center;
    padding: $space-lg $space-md;
    &__title {
      p.font--lg {
        font-weight: bold;
        align-items: center;
        span {
          width: $space-xs;
          height: $space-xs;
          background: $color-text-primary;
          border-radius: 50%;
          display: block;
        }
        .next {
          margin-left: $space-xs;
        }
        span.prev::before,span.next::after {
          content: '';
          width: $space-md;
          height: 2px;
          display: block;
          background: $color-text-primary;
          position: relative;
          top: 1px;
        }
        span.prev::before {
          left: -$space-xs - $space-sm;
        }
        i {
          color: $color-error;
          padding: 0 $space-xs;
        }
      }
      p.font--md {
        color: $color-info;
      }
    }
    &__content {
      .van-row {
        font-size: 13px;
        .van-cell {
          padding: 0;
          padding-top: $space-lg;
        }
        .van-cell__title span {
          background-color: $color-text-primary;
          color: #fff;
          font-size: $font-md;
        }
        .van-cell:not(:last-child)::after {
          display: none;
        }
        .van-panel__content {
          padding-right: $space-xs;
          img {
            width: 100%;
            margin-bottom: $space-lg;
          }
          p.gold {
            color: $color-error;
            padding-top: $space-primary;
            span {
              text-decoration: line-through;
              color: $color-info;
              font-size: $font-sm;
              padding-left: $space-xs;
            }
          }
        }
      }
    }
    &__more {
      padding-top: 30px;
      font-size: 13px;
      color: $color-info;
      i {
        vertical-align: middle;
        font-size: $font-sm;
      }
    }
  }
}
// 搜索
.search-index {
  background-color: #fff;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  overflow: hidden;
  &-header {
    &__back {
      i {
        font-size: $font-lg + 7;
        padding: $space-xs;
        color: $color-info;
      }
    }
    &__search {
      .van-search__content {
        background-color: $background-color;
        .van-cell {
          font-size: $font-size-auto * 0.9;
          padding: 3px 8px 3px 0;
        }
      }
      .van-search__action {
        font-weight: bold;
        font-size: $font-ml;
        padding: 0 $space-primary;
      }
    }
  }
  &-history {
    &__title {
      padding: $space-primary;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        color: $color-secondary;
        font-size: $font-ml;
        font-weight: bold;
      }
      i {
        color: $color-text-gray;
        font-weight: bold;
      }
    }
    &__content {
      padding: 0 3.5vw 3.5vw;
    }
  }
  .v-button--info {
    padding: $space-sm $space-primary;
    margin: $space-primary $space-md 0 0;
    border-radius: 3px;
  }
  &-hot {
    &__title {
      font-size: $font-ml;
      font-weight: bold;
      color: $color-secondary;
      padding: $space-primary;
    }
    &__content {
      padding: 0 3.5vw 3.5vw;
    }
  }
}
// 会员
.supervip-index {
  position: relative;
  &-header {
    position: relative;
    padding-bottom: $space-lg;
    color: $background-yellow;
    img {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: -1;
    }
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .sub-title {
        padding-top: $space-primary;
        font-size: $font-ml;
      }
      .title {
        font-size: $font-sm * 3;
        span {
          font-size: $font-size * 2;
          color: $color-error;
        }
      }
      .small {
        color: $color-dark-yellow;
        border-radius: 4vw;
        padding: 3px $space-sm;
        font-size: $font-size-auto * 0.9;
        margin: $space-xs 0 $space-primary;
        box-shadow: inset 0 0 $space-xs #000;
      }
    }
  }
  .v-button--svip {
    font-size: $font-ml;
    padding: $space-xs + 1 $space-primary * 5;
    border-radius: 6vw;
    .font-small {
      font-size: $font-size;
    }
    .font-large {
      font-size: $font-lg + 4;
      vertical-align: sub;
    }
    .opacity {
      opacity: .5;
      text-decoration-line: line-through;
    }
  }
  &-privilege {
    padding: $space-xs $space-md 15vh;
    margin-top: $space-xs;
    &-frame {
      padding: $space-md $space-primary + 2 $space-primary + 2;
      border-radius: $space-sm;
      box-shadow: 0 $space-xs $space-xs $color-border-base;
      margin-bottom: $space-primary;
      &__title {
        font-size: $font-ml;
        .flag {
          font-size: $font-md;
          background-color: $color-warning;
          color: $color-text-brown;
          padding: $space-xs - 2;
          border-radius: 4px;
        }
        .subtitle {
          font-size: $font-sm;
          color: $color-info;
          margin-top: $space-xs;
        }
      }
      .privi1 {
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        .item {
          width: 100%;
          margin-right: 10px;
          border-radius: 4px;
          text-align: center;
          p.money {
            background-color: $color-light-yellow;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: $space-primary 0 $space-xs;
            color: $color-error;
            font-size: $font-ml;
            span {
              font-size: $font-sm * 3;
            }
          }
          p.info {
            background-color: $color-light-yellow;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            font-size: $font-size-auto * 0.9;
            padding: $space-xs 0 $space-sm;
            color: $color-text-brown;
          }
        }
      }
      .privi2 {
        margin-top: $space-primary + 2;
        .van-swipe {
          padding-bottom: 3.3vh;
          .van-swipe-item {
            .van-grid-item {
              background-color: #fff;
              .van-grid-item__content {
                background-color: $color-white-yellow;
                margin: $space-sm $space-sm 0 0;
                font-size: $font-sm;
                height: auto;
                border-radius: 4px;
                div.img {
                  width: 16vw;
                  height: 16vw;
                  border-radius: 4px;
                  overflow: hidden;
                  img {
                    width: 100%;
                  }
                }
                div.info {
                  color: $color-text-brown;
                  .price {
                    color: $color-error;
                    .font-large {
                      font-size: $font-lg;
                    }
                  }
                }
              }
              &:nth-child(3n) {
                .van-grid-item__content {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
      // 轮播指示器
      .van-swipe__indicators {
        bottom: $space-primary;
        .van-swipe__indicator {
          width: $space-sm;
          height: 1px;
          background-color: $color-secondary;
        }
        .van-swipe__indicator--active {
          background-color: $color-dark-yellow !important;
        }
      }
      p.footer {
        font-size: $font-sm;
        color: $color-info;
      }
      .privi3 {
        display: flex;
        justify-content: space-between;
        margin-top: $space-md;
        .item {
          border: 1px solid $color-text-brown;
          border-radius: 4px;
          width: 48%;
          text-align: center;
          padding: $space-sm $space-sm $space-primary;
          box-sizing: border-box;
          color: $color-text-brown;
          .gold {
            font-size: $font-size-auto * 0.9;
            i {
              vertical-align: middle;
              font-size: 14px;
              margin-right: 3px;
            }
            .count {
              color: $color-error;
            }
          }
          .money {
            background-color: $color-light-yellow;
            display: -webkit-inline-flex;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            padding: $space-primary $space-lg $space-primary $space-primary;
            margin-top: $space-sm;
            .num {
              color: $color-error;
              .font-lg {
                font-size: $font-size-auto * 1.7;
              }
            }
            .info {
              margin-right: $space-md;
            }
          }
        }
      }
      .privi4 {
        .van-swipe {
          margin-top: $space-md;
          .van-swipe__track {
            .van-swipe-item {
              padding-bottom: 2vh;
              .van-grid {
                .van-grid-item {
                  margin-bottom: 2vh;
                  .van-grid-item__content {
                    display: block;
                    padding: 0;
                    .img {
                      position: relative;
                      height: 17vh;
                      overflow: hidden;
                      border-radius: 4px;
                      img {
                        width: 100%;
                      }
                      .vipdiscount {
                        position: absolute;
                        bottom: 0;
                        background-color: $color-error;
                        color: #fff;
                        border-radius: 4px;
                        font-size: $font-md;
                      }
                    }
                    .title {
                      font-size: 0.94em;
                      margin-top: $space-xs;
                    }
                    .price {
                      .bold {
                        .font-large {
                          font-size: $font-size-auto * 1.5;
                        }
                      }
                      .old-price {
                        text-decoration-line: line-through;
                        color: $color-info;
                      }
                    }
                  }
                  .van-grid-item__content--center {
                    align-items: normal;
                  }
                  &:nth-child(2n) {
                    .van-grid-item__content {
                      padding-left: $space-xs;
                    }
                  }
                  &:nth-child(2n-1) {
                    .van-grid-item__content {
                      padding-right: $space-xs;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .privi5 {
        .img {
          width: 40%;
          margin: $space-md auto $space-primary;
          img {
            width: 100%;
          }
        }
        .privi5-footer {
          font-size: $font-md;
        }
      }
    }
  }
  &-svip-button {
    width: 93vw;
    position: fixed;
    bottom: 4vh;
    left: 3.5vw;
    .v-button--svip {
      box-sizing: border-box;
    }
  }
}
.svipBtn-enter, .svipBtn-leave-to {
  position: absolute;
  bottom: -4vh;
}
.svipBtn-enter-active, .svipBtn-leave-active {
  position: fixed;
  transition: all .5s linear;
}
.font-sm {
  font-size: $font-sm;
}
.font-lg {
  font-size: $font-lg;
}
// 拥有active的class会显示
// .active {
//   display: block;
// }
