$color-primary: #2395ff; // 主色
$color-warning: #ffd01e; // 警告
$color-error: #ee0a24;
$color-success: #07c160;
$color-info: #7d7e80; // 说明色 
$color-border: #ddd;
$color-border-base: #eee;
$color-light: #d2d2d2;

$color-text-primary: #333; // 字体色
$color-text-gray: #ccc; // 字体色
$background-color: #f5f5f5; // 背景色

$font-size: 14px;
$font-size-auto: 1em;

$space-primary: 10px;
$space-md: 15px;
$space-lg: 20px;
$space-sm: 8px;
$space-xs: 5px;

$list-height: 40px;

// 自定义border
$border: 1px solid $color-border-base;

$font-family: PingFang SC,Helvetica Neue,Arial,sans-serif;

$text-color: (primary, $color-primary), (error, $color-error), (info, $color-info), (warning, $color-warning), (success, $color-success);

:export {
  fontSize: $font-size;
  primaryColor: $color-primary;
}